<h1 mat-dialog-title>
  Juego

</h1>
<div mat-dialog-content class="content">
  <form (submit)="create()" [formGroup]="formGame" class="form-parent">
    <div class="row">
      <hr>
      <mat-form-field appearance="outline" class="size">
        <mat-label>Juego</mat-label>
        <input matInput type="text" placeholder="Ingrese nombre"
          formControlName="name" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field hintLabel="Max 8 caracteres numericos" class="size"
        appearance="outline">
        <mat-label>Capacidad</mat-label>
        <input matInput #input maxlength="2" minlength="1"
          placeholder="capacidad max 99 personas"
          formControlName="capacity" />
        <mat-hint align="end" required>{{input.value.length}}/99</mat-hint>
      </mat-form-field>
    </div>
    <hr>

    <div class="row">
      <strong>Registra un nuevo Horario</strong>
      <mat-form-field appearance="outline" class="timeSize">
        <mat-label>Horario de inicio</mat-label>
        <input matInput type="time" placeholder="Ingrese Horario"
          formControlName="startTime" required />
      </mat-form-field>
      <strong>Registra un nuevo Horario</strong>

      <mat-form-field appearance="outline" class="timeSize">
        <mat-label>Horario de inicio</mat-label>
        <input matInput type="time" placeholder="Ingrese Horario"
          formControlName="endTime" required />
      </mat-form-field>
    </div>

    <hr>
    <div class="row">

      <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput type="number" formControlName="price" class="example-right-align" placeholder="0">
        <span matTextPrefix>$&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
    


    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit"
        [mat-dialog-close]="formGame.valid"
        [disabled]="formGame.invalid">{{data
        ? 'Update':'save'}} </button>
      <button mat-raised-button type="reset">Limpiar</button>
    </div>
  </form>