.row{
    display: flex; 
    gap: 10px;
    padding-top: 30px;
}

.content {
    padding-top:5px ; 
}

.size{
    width: 100%;
}
.at-form-field{
    width: 100%;
}
strong{
    padding-top: 30px;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
.form-control{
    width: 95%;
    height: 45px ;
    margin-bottom: 25px;
    margin: 30px;
    
}
