
      <div class="grid-container">
        <mat-grid-list cols="2" rowHeight="350px">
          <mat-card class="dashboard-card">
             <mat-card-title> Juegos </mat-card-title>
            <mat-card-header>
              <!-- contenido de las cards aca listado de clientes -->
              <mat-form-field> <!--buscar cliente-->
                <mat-label>Filtro</mat-label>
                <input matInput (keyup)="applyFilter($event)"  placeholder="Realiza tu busqueda" #input>
              </mat-form-field> <!--buscar cliente-->
               <!-- boton registrar cliente showDialog-->  
                  <button mat-raised-button color="primary"  class="btnCreateCustomer"(click)="openAddEditCustomer();"> <mat-icon class="icon">person_add</mat-icon> Juego</button> 
              </mat-card-header>
                  <mat-card-content class="dashboard-card-content">  
         
      <!-- boton tabla clientes-->
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>#</th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Juego </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="capacity">
                  <th mat-header-cell *matHeaderCellDef> Capacidad</th>
                  <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef> Precio </th>
                  <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef> Acciones </th>
                  <td mat-cell *matCellDef="let element">
                
                    <!--btn editar -->
                    <a class="pointer" style="color: blueviolet;" (click)="onUpdate(element)">
                      <mat-icon matTooltip="Editar" class="icon">edit_note</mat-icon>
                    </a>
               
                    <!--btn buscar
                    <a class="pointer" style="color: blueviolet;">
                      <mat-icon matTooltip="mas info" class="icon">manage_search</mat-icon>
                    </a> -->
                 
                    <!--btn eliminar -->
                    <a class="pointer" style="color:red;" (click)="onDelete(element.id)">
                      <mat-icon class="delete" matTooltip="Eliminar" class="icon">delete</mat-icon>
                    </a>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
      <!-- boton tabla clientes-->
      
      <!-- paginador-->
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
              </mat-paginator>
      <!-- paginador-->
      
            </mat-card-content>
          </mat-card>
        </mat-grid-list>
      </div>

