

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Panel de Control</mat-toolbar>
    <h4>Usuario:</h4>
    <h4>{{marcos}}</h4>
    <Strong *ngIf= "role ===( 'ADMIN')">ADMINISTRADOR</Strong>
    <Strong *ngIf= "role ===( 'EMPLOYEE')">ENCARGADO DE JUEGOS</Strong>
   
  
   <mat-nav-list>
<!-- *ngIf="role==('EMOPLOYEE')"-->
<hr>

      <a *ngIf="role==('ADMIN')" mat-list-item [routerLink]="['customer/list']">Clientes</a>
      <a  *ngIf="role==('ADMIN')" mat-list-item [routerLink]="['gameEmployee/list']">Encargado de juegos</a>
      <a *ngIf="role==('ADMIN')" mat-list-item [routerLink]="['game/list']">Juegos</a>
      <a *ngIf="role==('EMPLOYEE')" mat-list-item [routerLink]="['ticket/ticket']">Ventas de entradas</a>
     
      <br>
      <hr>
      <a  mat-list-item (click)="onLogout()" [routerLink]="['/login']">Salir</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span stile="align:center;"> <mat-icon>rocket_launch</mat-icon> Marveland
        Admin</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
