<!--
<div class ="body">
<mat-card class="card">
    <mat-card-content>
        <h3 class="text-whitesmoke">ADMIN</h3>
        <p class="text-whitesmoke">Sign In</p>
        <div class="container-content">
            <form method="post" #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="nameUser" id="nameUser" name="nameUser" [(ngModel)]="nameUser" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="*****" id="password" name="password"  [(ngModel)]="password" />
                </div>
                <button mat-raised-button class="ancho btn" type="submit" ng color="primary">Ingresar</button>
            </form>
        </div>
    </mat-card-content>
</mat-card>
</div>
-->

<div class="body">

    <form (ngSubmit)="onLogin()" [formGroup]="form">
        <mat-card class="card">
            <mat-card-content>
                <h1><strong>Login</strong></h1>
                <mat-form-field class="ancho">
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="nameUser">
                </mat-form-field>
                <mat-form-field class="ancho">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" type="password">
                </mat-form-field>
                <button mat-raised-button class="ancho btn" type="submit" ng
                    color="primary">Ingresar</button>
            </mat-card-content>
        </mat-card>
    </form>
</div>

